
body { 
    
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    line-height: 1.17;
    color:rgba(33, 33, 33, 1) ;
    
    
}

:root {
    --brand-color:rgba(33, 150, 243, 1);
    --decor-color: rgba(255, 255, 255, 1);
    --text-color: rgba(117, 117, 117, 1);
    
    
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container-project {
    width: 1230px;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 142px;
    margin-right: auto;

}
.section {
    padding-top: 94px;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
  }
/* header */
.container-header { 
    padding-top: 24px;
    padding-bottom: 25px;
    background-color: var(--decor-color);
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    

}
.page-header-container {  
    display: flex;
    align-items: center;
}

.nav-list { 
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding-left: 95px;
    padding-right: 310px;

}

.logo, .logo-footer {
    font-family:'Raleway';
    font-size: 26px;
    color:rgba(0, 0, 0, 1) ;
    text-decoration: none;

}
.logo {
    padding-left: 0px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.logo-span {
    color: var(--brand-color);
}

.logo:hover, .logo:focus,
.studio-portfolio:hover, .studio-portfolio:focus, 
.portfolio-index:hover, .portfolio-index:focus,
.contakts:hover, .contakts:focus,
.mail:hover, .mail:focus, 
.tel:hover, .tel:focus,
.btn-headline:hover, .btn-headline:focus,
.logo-footer:hover, .logo-footer:focus,
.adres:hover, .adres:focus,
.mail-footer:hover, .mail-footer:focus,
.tel-footer:hover, .tel-footer:focus {
     color: var(--brand-color);
     
    }
.studio-portfolio, .portfolio-index, .contakts, .mail, .tel, .btn-headline, .logo-footer, .adres,
.mail-footer, .tel-footer {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}   
    
.nav-list {
    font-weight: 500;
    font-size: 14px; 
    list-style-type: none;          
}    

.studio-index, .studio-portfolio, .portfolio-index, .portfolio-portfolio, .contakts {
    text-decoration: none; 
    color:rgba(33, 33, 33, 1) ;    
      
}
.studio-index, .portfolio-portfolio {
    position: relative;
    color: var(--brand-color);
}

.studio-index::after{
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    left: 0;
    top: 46px;
    height: 4px;
    background-color: var(--brand-color);
}

.portfolio-portfolio::after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    left: 0;
    top: 46px;
    height: 4px;
    background-color: var(--brand-color);
}

.icon-contakt {
    display: flex;
    width: 16px;
    height: 12px;
    fill: rgba(117, 117, 117, 1);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        
}
.icon-tel {
    display: flex;
    align-items: center;
    width: 10px;
    height: 16px;
    fill: rgba(117, 117, 117, 1);
    margin-right: 10px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
}

.icon-contakt:hover, .icon-contakt:focus,
.icon-tel:hover, .icon-tel:focus  {
    fill: var(--brand-color);
    
}
.mail, .tel {
    display: flex;
    text-decoration: none; 
    color: var(--text-color) ;
    
}
.mail:hover .icon-contakt {
    fill: var(--brand-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.tel:hover .icon-tel {
    fill: var(--brand-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.contakt {
    list-style-type: none;
    font-weight: 500;
    font-size: 14px;
    display: flex; 
    align-items: center; 
    column-gap: 30px;
    justify-content: flex-end;
     
}
   /* main */
   /* neadline */

.main-neadline {
    background-color: rgba(196, 196, 196, 1);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url('../images/Img-fon.jpg');
    background-size: cover;
    height: 600px;
    border: 1px solid rgba(47, 48, 58, 1);
    
    
}
.headline {
    width: 696px;
    padding-top: 200px;
    text-align: center;
    font-size: 44px;
    line-height: 1.37;
    color: var(--decor-color);
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
} 

.btn-headline {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight:700;
    background-color: rgba(33, 150, 243, 1);
    line-height: 1.88;
    cursor: pointer;
    color: var(--decor-color) ;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    min-width: 216px;
    min-height: 50px;
    border: none;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.btn-headline:hover, .btn-headline:focus {
    color: var(--decor-color) ;
    
} 

     /* hang */
.list-hang-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: rgba(245, 244, 250, 1);
}
.hang-icon {
    width: 70px;
    height: 70px;
}

.list-hang {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    
}
.list-hang-item {
    flex-basis: calc((100% - 90px) / 4) ;
}

.feature-hang {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;    
} 
.list-action {
    list-style-type: none;
    display: flex;
    gap: 30px;
    margin-bottom: 188px;
}

.text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-color) ;
}
/* employment */
.desctop-img {
    position: relative;
    
}
.desctop-text {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--decor-color) ;
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    transform: translateY(-70px);
    width: 370px;

}

.feature-section {
    font-size: 36px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-align: center;
    
     
}
.section-comand {
    background-color: rgba(245, 244, 250, 1);
    padding-top: 94px;
    padding-bottom: 94px;
    
}

.section-сlients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.feature-comand-position {
    background-color: var(--decor-color);
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-comand {
    list-style-type: none;
    display: flex;
    gap: 30px;
    
    
}

.list-comand-cart {
    text-align: center;
    box-shadow: 0 2px 1px 0 rgba(0, 2, 1, 0.2),
                0 1px 1px 0 rgba(0, 1, 1, 0.14);
}

.feature-comand {
    font-weight: 500;
    font-size: 16px;
    margin-top: 30px;
      
}
.list-comand-icons {
    list-style-type: none;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.list-comand-icon {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-size: 40px 40px;
    background-position: center center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-comand-icon:hover, .list-comand-icon:focus {
    background-color: var(--brand-color);
    
}
.list-comand-icon:hover .comand-icon {
    fill: var(--decor-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-icon {
    width: 20px;
    height: 20px;
    fill:rgba(117, 117, 117, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.comand-icon:hover, .comand-icon:focus {
    fill: rgba(255, 255, 255, 1);
}
list-clients-icon:hover .clients-icon {
    fill: var(--brand-color); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.position {
    font-weight: 400;
    color: var(--text-color) ;
    margin-top: 10px;
    margin-bottom: 16px;
}

.list-clients {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.list-clients-cart {
    flex-basis: calc((100% - 150px) / 6) ;
    border: 1px solid rgba(175, 177, 184, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.list-clients-cart:hover, .list-clients-cart:focus {
    border-color: var(--brand-color);
    
}
.list-clients-cart:hover .clients-icon {
    fill: var(--brand-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.list-clients-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    
}
.clients-icon {
    width: 106px;
    height: 60px;
    fill: rgba(175, 177, 184, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.clients-icon:hover, .clients-icon:focus {
    fill: var(--brand-color);
    
}

.footer-container {
    background-color: rgba(47, 48, 58, 1);
    padding-top: 60px; 
    padding-bottom: 60px;   
    
}

.logo-footer {
    color: var(--decor-color);
    
    
}

.address-list {
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    list-style-type: none;
    margin-top: 20px;
    line-height: 9px; 
      
}  

.adres {
    line-height: 1.71;
    text-decoration: none;
    color: var(--decor-color)
}

.mail-footer, .tel-footer {
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
       
}

.btn-port {
    list-style-type: none;
    display: flex;
    gap: 9px;
    margin-left: auto;
    margin-right: auto;
    width: 603px;
    margin-top: 43px;
    margin-bottom: 32px;        
}

.btn-port-li {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    line-height: 1.62; 
    color:rgba(33, 33, 33, 1);
    cursor: pointer;
    border: none;
    min-width: 130px;
    min-height: 38px;
    background-color: rgba(245, 244, 250, 1);
    border: none;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.general {
    min-width: 78px;
}

.btn-port-li:hover, .btn-port-li:focus {
    background-color: rgba(33, 150, 243, 1);
    color: var(--decor-color); 
    box-shadow: 0 2px 1px 0 rgba(0, 2, 1, 0.2),
                0 1px 1px 0 rgba(0, 1, 1, 0.14);
    
}

.projects {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 31px; 
    row-gap: 30px;
}

.feature-projects {
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}
.project-img {
    position: relative;
    overflow: hidden;
    
}
.project-img::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.project-item:hover .project-img::before {
    transform: translateY(0%);
    opacity: 1;
}
.project-img-text {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 72%;
    background-color:opacity;
    opacity: 0;
    transform: translateY(-50px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover .project-img-text {
    transform: translateY(-280px);
    opacity: 1;
}

.img-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    color: var(--decor-color);
    padding: 63px 24px;
}

.text-pojects {
    font-weight: 400;
    line-height: 1.88;
    color: var(--text-color); 
    margin-top: 4px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
} 

.project-item {
    position: relative;
    border: 1px solid rgba(238, 238, 238, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.project-item:hover, .project-item:focus {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.16),
    0 4px 4px 0 rgba(0, 0, 0, 0.06);

 
}

.tel-footer {
    margin-bottom: 60px;
}
.footer-сonnect {
    font-weight: 700;
    font-size: 14px;
    color: var(--decor-color);
    text-transform: uppercase; 
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.vera {
    display: flex;
    
}
.connect {
    padding-left: 70px;
    
}  

.list-connect-icons {
    list-style-type: none;
    display: flex;
    column-gap: 10px;
    justify-content: left;
    align-items: center;
    padding-left: 40px;
}
.list-connect-icon {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgb(57, 59, 65) ;
    justify-content: center;
    align-items: center;
    background-size: 40px 40px;
    background-position: center center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
    
    
}
.list-connect-icon:hover, .list-connect-icon:focus {
    background-color: var(--brand-color);
}

.connect-icon {
    width: 20px;
    height: 20px;
    fill: var(--decor-color);
}
/* backdrop */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 5000ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    
}
/* modal */
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    background-color: var(--decor-color);
    box-shadow: 0 2px 1px 0 rgba(0, 2, 1, 0.2),
                0 1px 1px 0 rgba(0, 1, 1, 0.14);
        
}



.btn-modal {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--decor-color);
    padding: 0;
    

}
.btn-modal:hover, .btn-modal:focus {
    border-color: var(--brand-color);
}
.btn-modal:hover .bacdrop-icon {
    fill: var(--brand-color);
}


.bacdrop-icon {
    width: 11px;
    height: 11px;   
    
}
    
    
